.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario label {
    margin: 0 2em 2em 2em;
}
input{
    border-radius: .3em;
    font-size: .8em;
    margin-top: .5em;
}
button{
    margin-top: 20px;
    
}